@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /*  --main-color: #000; */
    --header1: calc(25rem + 1vw);
    --header2: calc(15.5rem + 1vw);
    --header3: calc(10rem + 1vw);
    --header4: calc(5rem + 1vw);
    --header5: calc(2rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'MontserratAlternatesLight';
    src: url('../src/assets/fonts/MontserratAlternates-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../src/assets/fonts/lato/Lato-Light.ttf') format('truetype');
}

.montserrat {
    font-family: 'MontserratAlternatesLight', sans-serif;
}

.latoLight {
    font-family: 'LatoLight';
}

main{
    background-color: #f5f5f5;
}

.generalScroll {
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}
.generalScroll::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

/* Para Firefox */
.generalScroll {
    scrollbar-width: none; /* Oculta la barra de desplazamiento */
}
/*-------------------
    Animation Link
--------------------*/

.link-container {
    position: relative;
    text-decoration: none;
}

.js-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease;
}

.js-line.expand {
    width: 100%;
}

.link-container:hover .js-line {
    width: 100%;
}

.link-container:not(:hover) .js-line {
    transition: width 0.5s ease, left 0.5s ease;
    left: 100%;
    width: 0;
}


/*-------------------
        Home
--------------------*/


.home{
    z-index: 9;
}
.homeAffter{
    height: min-content;
    overflow-y: hidden;
}

.section-js{
    z-index: 5;
}

.container-section-js{
    position: relative;
    z-index: 5;
}

/*-------------------
  Animation Section
--------------------*/

.fixeds {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.5s ease; 
}



/*---------------
        Intro
  ----------------*/
.intro {
    display: grid;
}

.title-intro {
    font-size: var(--header1);
}

@media only screen and (max-width: 600px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .title-intro {
        font-size: var(--header4);
    }

}

/*---------------
        About
----------------*/
.about {
    display: grid;
}

.about-content {
    display: grid;
}

.about-h1 {
    font-size: var(--header4);
}

.work-link {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(252,64,103);
    transition: all .5s ease-in-out;
}

.work-link:hover {
    transform: scale(.9);
    box-shadow: 0px 0px 15px #111010;
    transition: all .5s ease;
}

@media only screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .about-h1 {
        font-size: var(--header5);
        width: min-content;
    }
    .parrafo{
        font: var(--text);
    }

}

/*--------------------
        Works
---------------------*/

.works{
 display: grid;   
}


/*---------------------
        Project
-----------------------*/
.projects{
    min-height: 100vh;
}

.project-title{
    font-size: var(--header4);
}

.project-Gallery{
    position: absolute;
    height: 100vh;
    display: grid;
    align-content: end;
}

.container-gallery-projects{
    height: 100%;
}

.img-animation-gallery{
    width: 400px;
    height: 450px;
    background-color: #111010;
    display: grid;
    place-content: center;
}
.img-animation-gallery:nth-child(1){
    background-image: linear-gradient(to right bottom, #000000, #382d38, #5d5d7a, #6797c0, #5fd8f7);
}
.img-animation-gallery:nth-child(2){
    background-image: linear-gradient(to right bottom, #000000, #5b2c2b, #b05d34, #eca521, #ffff00);
}
.img-animation-gallery:nth-child(3){
    background-image: linear-gradient(to right, #000000, #2e1619, #562323, #7d3524, #9f4d1d);
}
.img-animation-gallery:nth-child(4){
    background-image: linear-gradient(to right bottom, #000000, #22181f, #342b40, #344467, #01618a);
}
.img-animation-gallery:nth-child(5){
    background-image: linear-gradient(to right, #000000, #2e1619, #562323, #7d3524, #9f4d1d);
}

.imges-animation-gallery{
    width: 250px;
    height: 225px;
}




/*---------------------
        Footer
-----------------------*/

.city{
    font-size: var(--header4);
    font-weight: bold;
}


